.container {
    max-width: 1240px;
}

* {
    font-family: 'Urbanist' !important;
}

/* /* .showtable div {
    border: unset !important;
} */

#main .form_pane {
    background-color: #f9fdff;
    margin-bottom: 5px;
    /* text-align: center; */
    margin: auto;
    height: 828px;
    width: 51%;
    border: 1px solid #d8d8d8;
    border-radius: 10px;
    padding: 0 30px;
    min-width: 300px;
    overflow-y: unset;
    -moz-overflow-y: unset;
    -ms-overflow-y: unset;
    -webkit-overflow-scrolling: unset;
}

#main .subject-wrapper {

    text-align: left;
    margin-top: -15px;
    line-height: 25px;
}

#main .subject-wrapper h1 {
    font-size: 28px;
    color: #180087;
    line-height: 0px;
}

#wrapper {
    justify-content: center;
    display: flex;
}

div table {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.105em;
    font-weight: 400;
    width:98% !important;
}

#back-panel {
    padding: 10px;
}
#go-panel{

}
a {
    text-decoration: none;
    color: #777777;
    cursor: pointer;
  }