.post a,
.post h2 a {
  font-weight:400;
  font-style:normal
}
.blog-image-default,
.blog-image-post {
  height:220px;
  display:block;
  width:100%
}
.author_link,
.blog_wrapper,
.img_wrapper {
  position:relative
}
.cat-tag-container,
.entry-content,
.entry-content li,
.entry-content p,
.page-content ol li,
.page-content ul li,
main li,
main p {
  text-align:left
}
.post:hover>.blog-image {
  -webkit-filter:grayscale(100%);
  filter:grayscale(100%)
}
.blog_cont,
.blog_info,
.blog_wrapper,
.pagination {
  text-align:center
}
.post .entry-title {
  margin:10px auto;
  text-align:left;
  font-size:23px
}
.post h2 a {
  font-size:25px;
  color:var(--priColor);
  line-height:29px;
  text-decoration:none
}
.post h2 a:hover {
  text-decoration:underline;
  opacity:.8
}
.post img {
  max-width:100%
}
.post p {
  margin:10px auto;
  color:#7f7f7f;
  line-height:30px
}
.post a {
  color:var(--secColor);
  font-size:19px
}
.post:nth-child(odd) {
  margin-left:0
}
.post:nth-child(2n) {
  margin-right:0
}
.blog-image-post {
  background-size:cover!important
}
.blog-image-default {
  background-size:95%!important;
  background-color:#fff!important;
  border:1px solid #900ece
}
.pagination {
  margin:20px 10px;
  width:100%
}
.pagination a,
.pagination span {
  text-decoration:none;
  color:#333;
  padding:0;
  width:37px;
  line-height:36px;
  margin:0 3px;
  border-radius:5px;
  display:inline-block;
  vertical-align:top
}
.pagination .current {
  cursor:default
}
.pagination .current,
.pagination a:hover {
  background:#0144b4;
  color:#fff
}
.blog_cont {
  padding:15px;
  box-shadow:0 0 25px -8px rgba(227,227,227,.75);
  display:inline-block;
  vertical-align:top;
  width:31%;
  margin:15px 8px;
  background-color:#fff;
  border-radius:21px
}
.comingsoon {
  color:red!important;
  font-style:italic!important
}
.page-title {
  display:block!important
}
.page-title span {
  display:inline-block!important;
  color:inherit!important
}
.blog_flex {
  display:flex;
  justify-content:center;
  flex-wrap:wrap
}
.blog_info {
  padding:15px;
  box-shadow:0 0 5px 0 rgba(55,55,55,.18)
}
.blog_heading {
  margin-bottom:2px;
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  flex-direction:column;
  min-height:70px;
  border:none
}
.blog_heading a {
  font-size:26px;
  color:#4e4d4d;
  font-weight:500
}
.author_link a,
.blog_footer {
  font-style:normal;
  color:#b2b2b2;
  font-weight:400
}
.blog_heading a:hover {
  color:#1f49a8;
  text-decoration:none
}
.img_wrapper {
  width:100%;
  max-width:470px;
  margin:0 auto 15px;
  padding:15px;
  background:#fff;
  min-height:250px
}
.img_wrapper img {
  width:75%;
  height:auto;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%)
}
.blog_footer {
  width:100%;
  margin-top:0;
  padding:2px 15px;
  font-size:14px;
  border-left:0;
  border-right:0
}
.author_link {
  display:inline-block;
  vertical-align:top;
  padding-right:15px;
  margin-right:15px
}
.author_link a {
  font-size:16px
}
.author_link::after {
  position:absolute;
  width:1px;
  height:75%;
  content:"";
  background:#dedede;
  top:47%;
  right:0;
  -webkit-transform:translateY(-50%);
  transform:translateY(-50%)
}
h1.entry-title {
  font-size:30px
}
.entry-content img {
  float:right;
  margin:0 0 10px 10px
}
main li,
main p {
  margin:15px 0
}
.entry-meta {
  margin-bottom:10px
}
@media only screen and (max-width :1024px) {
  .blog_cont {
    width:47%
  }
}
@media only screen and (max-width :1000px) {
  .pagination {
    position:static;
    margin-bottom:20px;
    text-align:center
  }
  .blog_wrapper {
    text-align:center;
    margin:0 auto
  }
}
@media only screen and (max-width :750px) {
  .blog_footer,
  .talent_footer {
    padding:2px 0
  }
  .img_wrapper {
    float:none
  }
  .blog_cont {
    width:100%;
    margin:15px auto
  }
  .img_wrapper img {
    position:static;
    transform:none
  }
  .blog_cont,
  .img_wrapper {
    min-height:0
  }
}
@media only screen and (max-width :600px) {
  h1.entry-title {
    font-size:20px
  }
  .entry-content img {
    float:unset;
    margin:10px 0;
    height:auto
  }
  body {
    font-size:16px
  }
}
